
<% @trips.each do |place| %>
  <div>
    <h1><%= trip.destination %></h1><br />
    <p><%= trip.description %></p><br />
    <p><%= trip.eats %></p><br />
    <p><%= trip.blog %></p><br />
  </div>

  <hr />
<% end %>